<h4>Add Notes to the List</h4>
<input 
  class="form-control" 
  type="text" 
  [(ngModel)]="note"
  (keyup.enter)="addNote()">
<button 
  [disabled]="notes.length <= 0"
  class="btn btn-secondary form-control"
  type="button"
  (click)="changeFirstNote()">
  Change First Note
</button>
<button 
  class="btn btn-warning form-control"
  type="button"
  (click)="triggerChangeDetection()">
  Click me to Trigger Change Detection
</button>
<hr>
<h4>Notes List</h4>
<ul 
  class="list-group"
  *ngIf="notes.length > 0">
	<app-note-list-item 
    *ngFor="let note of notes; let i = index"
    [note]="note.message"
    [noteIndex]="i"
    (deleteNote)="deleteNote($event)">
    <!-- <span>🚮</span> -->
  </app-note-list-item>
</ul>
<h6 *ngIf="notes.length <= 0">Please add notes to see them here</h6>