#edit{
    /* box related things */
    border: solid black 3px;
    border-bottom: dotted brown;
    outline: solid 7px yellowgreen;
    font-size: xx-large;
    background-color: aqua;
    text-align: center;
    /* padding: 30px; */
    margin: auto;
    height: 40px;
    width: 200px;
}