div,span,p{
    background-color: brown;
    
}
#top{
    border: dotted black 2px;
    border-bottom: solid whitesmoke;
    outline: solid yellowgreen 5px;
    margin-bottom: 10px;
    padding: 30px;
    /* padding-left: 40px; */
    /* border-color: black;
    border-width: 2px;
    border-style: dotted;
    border-bottom-color: red;
    border-bottom-style: solid; */
    color: chartreuse;
    height: 100px;
    width: 400px;
}
.red{
    color: red;
    background-color: aliceblue;
}
.blue{
    color:blue;
    background-color: aliceblue;
}
body{
    background-image: url('mountain.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}